<section id="articles">
<section class="latest-articles" id="latest-articles">
    <h2 class="section-title neon-text">Derniers Articles</h2>
    <p class="section-intro">Parce que la technologie évolue sans cesse et très rapidement, les articles sont régulièrement
        mis à jour plutôt que recréés systématiquement. Restez informé, anticipez les défis et façonnez l'avenir du web
        en toute sécurité avec l'intelligence artificielle.</p>

    {% if articles is empty %}
        <div>Chargement des articles...</div>
    {% else %}
        <div class="articles-grid">
            {% for article in articles %}
                <div class="article-card">
                    <div class="article-image">
                        {# Implémenter VichUploaderBundle pour gérer les images #
                        <img src="{{ asset(article.image) }}" alt="{{ article.title }}">#}
                    </div>
                    <div class="article-content">
                        {# Implémenter les badges pour les catégories d'articles #
                        <div class="article-badge">{{ article.category.name }}</div>#}
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.getContent() | striptags | slice(0, 200) }}</p>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="read-more">Lire plus</a>
                        {% if app.user %}
                           <a href="{{ path('app_home', {'id': article.id}) }}" class="read-more">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="view-all-articles">
        <a href="{{ path('app_blog') }}" class="view-all-link">
            <span>Consulter tous les articles dans le Blog</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</section>
</section>